<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
    <link rel="icon" href="/img/logo.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Help Message: {{msg}}</p>
    </div>
    
    {{>footer}}
</body>
</html>